---
title: Rails Girls Saint-Étienne
---

<div class="hero">
  <header class="hero-header">
    <h1 class="event-name">Rails Girls <span>St‑Étienne</span></h1>
    <h2 class="event-date">25-26 novembre 2016</h2>
    <a href="#tickets" class="cta-tickets button">Inscrivez-vous</a>
  </header>
</div>

<main class="container" role="main">
  <div class="section event-description">
    <p class="intro">
      Rails Girls est un atelier gratuit d'une soirée et une journée,
      durant lesquelles les participantes créent une application Web
      complète à l'aide de Ruby on Rails, et de nos fantastiques mentors :)
    </p>

    <div class="benefits">
      <h4>Vous apprendrez</h4>
      <p>à développer une application Web complète avec l'aide de nos mentors et au framework Ruby on Rails.</p>
    </div>

    <div class="requirements">
      <h4>Vous avez besoin</h4>
      <p>d'uniquement un ordinateur portable, de la curiosité et d'un brin de créativité. Aucune expérience en programmation n'est nécessaire.</p>
    </div>

    <div class="help-us">
      <h4>Vous voulez aider ?</h4>
      <p>Nous cherchons des volontaires, mentors et sponsors.<br><a href="mailto:mehdi@craftsmen.io">Un petit mail ?</a>
    </div>
  </div>


  <div id="tickets" class="section tickets">
    <h3 class="section-header">Tickets</h3>
    <div>
      <iframe src="//eventbrite.fr/tickets-external?eid=28647208572&ref=etckt" frameborder="0" height="375" width="100%" vspace="0" hspace="0" allowtransparency="true"></iframe>
    </div>
  </div>

  <div class="section schedule">
    <h3 class="section-header">Au programme</h3>
    <h4>Vendredi 25 novembre de 19h à 21h : Install Party</h4>
    <p>
      Faites connaissance avec vos mentors, les autres élèves et... la machine !
      Amenez votre ordinateur portable, nous installerons Ruby on Rails ensemble.
    </p>

    <h4>Samedi 26 novembre de 9h à 18h : Une journée les mains dans le cambouis (de pixels !)</h4>
    <p>
      Les ateliers Rails Girls vous lancent, par petits groupes, dans les premiers pas du développement Web.<br>
      Vous aurez des présentations éclair, découverte du langage, la rencontre avec des personnes qui sont dans la même optique que vous, et bien sûr... du code !
    </p>
    <p>Pour avoir une meilleure idée de ce qui vous attend, vous pouvez regarder ces vidéos ou photos de <%= link_to 'la précédente édition', 'flic.kr/s/aHskp9Kri3 ' %>, ou celles de <%= link_to 'Berlin', 'http://railsgirls.com/berlin' %>, <%= link_to 'Cracovie', 'http://railsgirls.com/krakow' %> et <%= link_to 'Singapour', 'http://railsgirls.com/singapore' %>.</p>
  </div>

  <div class="section location">
    <h3 class="section-header">Lieu</h3>
    <p>L'install party et la journée Rails Girls auront lieu au Bâtiment des Hautes Technologies,<br>20 rue Benoît Lauras, Saint-Étienne.</p>
    <p>En <strong>voiture</strong>, un parking gratuit sera disponible.</p>
    <p>En <strong>tramway</strong>, descendez à l'arrêt Chaléassière puis marchez 5 minutes.</p>
    <p>Si vous êtes perdu(e), vous pouvez toujours appeler Mehdi au <a href="tel:+33642755592">06 42 75 55 92</a>.</p>
    <div class="location-map">
      <iframe width='100%' height='400px' frameBorder='0' src='https://a.tiles.mapbox.com/v4/mehlah.nfmb7h36/attribution,zoompan.html?access_token=pk.eyJ1IjoibWVobGFoIiwiYSI6IlFYOVpsVkkifQ.0R__h2wpwHGkLtuC-JtqIw'></iframe>
    </div>
  </div>

  <div class="section sponsors">
    <h3 class="section-header">Sponsors</h3>
    <ul class="sponsors-grid">
      <li><%= image_tag 'http://placehold.it/300x150' %></li>
      <li><%= image_tag 'http://placehold.it/300x150' %></li>
      <li><%= image_tag 'http://placehold.it/300x150' %></li>
      <li><%= image_tag 'http://placehold.it/300x150' %></li>
    </ul>
    <p>Vous souhaitez nous aider ? <a href="mailto:mehdi@craftsmen.io">Contactez-nous !</a></p>
  </div>

  <div class="section faq">
    <h3 class="section-header">Questions fréquentes</h3>
    <p>
      <strong>Combien cela coûte ?</strong>
      C'est gratuit pour les curieuses, les intéressées, les créatrices... :)
    </p>
    <p>
      <strong>Pour qui ?</strong>
      Les femmes de tous les âges, à l’aise avec l’outil informatique.
      Aucune expérience de programmation n'est requise, nous avons tous les niveaux.
      Merci d'apporter votre ordinateur portable pour programmer !
    </p>
    <p>
      <strong>Il y a une sélection ?</strong>
      Si nous atteignons le maximum de places ou qu'il y ait plus de 4 ou 5 élèves par mentor,
      nous nous réservons le droit de sélectionner : les femmes et les débutants d'abord :)
    </p>
    <p>
      <strong>Et les hommes ?</strong>
      Ils peuvent venir, s'il reste de la place, et de préférence accompagnés par une demoiselle motivée.
    </p>
    <p>
      <strong>Je peux vous aider ?</strong>
      Plus on est de mentors plus on rit :)
      Manifestez-vous auprès de <a href="http://twitter.com/WebEnVert">@WebEnVert</a> sur Twitter !
      Vous pouvez également nous aider en sponsorisant l'événement.
    </p>
  </div>

  <div class="section coc">
    <h3 class="section-header">Code de conduite</h3>
    <p>En participant à Rails Girls Saint-Étienne, les participants, mentors, sponsors, organisateurs, et volontaires s'engagent à respecter le <%= link_to 'code de conduite', 'coc' %>.</p>
  </div>
</main>

<div class="footer">
  <div class="container">
    <div class="links">
      <nav>
        <%= link_to 'Communiqué de presse', '/press' %>
        <%= link_to 'Contact', 'mailto:mehdi@craftsmen.io' %>
      </nav>
    </div>

    <div class="newsletter">
      <form action="//craftsmen.us7.list-manage.com/subscribe/post?u=aee53628420c3051e5f7dcc23&amp;id=911d928859" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <label for="mce-EMAIL">Restez informées en vous inscrivant à notre newsletter</label>
        <input type="email" value="" name="EMAIL" placeholder="Votre adresse email..." id="mce-EMAIL">
        <input type="submit" value="Je m'abonne" name="subscribe" id="mc-embedded-subscribe">
         <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_aee53628420c3051e5f7dcc23_911d928859" tabindex="-1" value=""></div>
      </form>
    </div>
  </div>

  <div class="credits">
    <p>Shaped by the fine ladies and gentlemen from <%= link_to 'Web en Vert', 'http://webenvert.fr' %> & <%= link_to 'Craftsmen', 'http://craftsmen.io' %>.</p>
    <p><%= link_to 'Get excited and make things!', 'http://railsgirls.com' %></p>
  </div>
</div>
